## Play with Lambda

## Write a Python program to create a lambda function that adds 25 to a given number passed in as an argument.
 
 
 ##  sample input : 10
 ## sample output: 35

In [1]:
add=lambda x,y=25:x+y

In [2]:
print(add(10))

35

## write a python programm to triple all number of a given list of integers. use python map.


## sample list : [1,2,3,4,5,6,7]




## triple of list numbers:

[3,6,9,12,15,18,21]

In [3]:
lis=[1,2,3,4,5,6,7]

In [7]:
print(list(map(lambda v:(v*3),lis)))

[3, 6, 9, 12, 15, 18, 21]

## write a python program to square the elements of a list using map() function.

## sample list : [4,5,2,9] 

## square the elements  of the list:

[16,25,4,81]

In [8]:
l=[4,5,2,9]

In [9]:
print(list(map(lambda i :(i**2),l)))

[16, 25, 4, 81]